<div class="container">
    <form id="contact" #addData="ngForm" (ngSubmit)="submit(addData.value)" [formGroup]="userData" (ngSubmit)="getValue()">
      <p class="message-p">{{addUserMessage}}</p>
      <h3>User Management</h3>
      <h4>Add your all required Details</h4>
  
      <label for="first">First Name:</label>&nbsp;&nbsp;
      <span style="color: red;" *ngIf="first && first.invalid && first.touched">This field is not valid</span>
      <input type="text" class="form-input" placeholder="Enter Your First Name" name="first"  required formControlName="first"/>
  
      <label for="first">Last Name:</label>&nbsp;&nbsp;
      <span style="color: red;" *ngIf="last && last.invalid && last.touched">This field is not valid</span>
      <input type="text" class="form-input" placeholder="Enter Your Last Name" name="last"  required formControlName="last"/>
  
      <label for="first">Address:</label>&nbsp;&nbsp;
      <span style="color: red;" *ngIf="address && address.invalid && address.touched">This field is not valid</span>
      <textarea type="text" class="form-input" placeholder="Enter Your Address" name="address"  required formControlName="address"></textarea>
  
      <label for="first">Email:</label>&nbsp;&nbsp;
      <span style="color: red;" *ngIf="email && email.invalid && email.touched">This field is not valid</span>
      <input type="email" class="form-input" placeholder="Enter Your Email Address" name="email"  required formControlName="email"/>
  
      <label for="first">Contact:</label>&nbsp;&nbsp;
      <span style="color: red;" *ngIf="contact && contact.invalid && contact.touched">This field is not valid</span>
      <input type="text" class="form-input" placeholder="Enter Your Contact" name="contact"  required formControlName="contact"/>
      
      <!-- <button class="form-button" name="submit" type="submit" id="contact-submit" data-submit="...Sending" [disabled]="userData.invalid">Submit</button> -->
      <button class="btn btn--form" type="submit" [disabled]="userData.invalid"> Submit </button>
    </form>
  </div>
  
  