<!-- User Information Edit html -->

<div class="container">
  <!-- Create Form Using ngModel to get data on form filed -->
  <form id="contact" #addData="ngForm" (ngSubmit)="submit(addData.value)">
    <!-- Information Update popup message -->
    <p class="message-p">{{userMessage}}</p>
    <h3>Update Information</h3>
    <h4>Edit Your Information</h4>
    <label for="first">First Name:</label>&nbsp;&nbsp;
    <input type="text" class="form-input" placeholder="First Name" name="first" ngModel="{{userData?.first}}" />
    <label for="first">Last Name:</label>&nbsp;&nbsp;
    <input type="text" class="form-input" placeholder="Last name" name="last" ngModel="{{userData?.last}}" />
    <label for="first">Address:</label>&nbsp;&nbsp;
    <textarea type="text" class="form-input" placeholder="Address" name="address"
      ngModel="{{userData?.address}}"></textarea>
    <label for="first">Email:</label>&nbsp;&nbsp;
    <input type="email" class="form-input" placeholder="Email" name="email" ngModel="{{userData?.email}}" />
    <label for="first">Contact:</label>&nbsp;&nbsp;
    <input type="text" class="form-input" placeholder="Contact" name="contact" ngModel="{{userData?.contact}}" />
    <button class="form-button" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Update</button>
  </form>
</div>